/* Стандартные стили для всех устройств */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

:root {
  --primary-font-family: "Inter", serif;
  --secondary-font-family: 'jeju hallasan', sans-serif;
  --light-pink: #FFEAF3;
  --brown: #644C30;
  --absolute-white: #ffffff;
  --absolute-black: #000000;
  --grey: #383838;

  --music-columns: 3;

  --video-height: 540px;
  --video-width: 960px;

  --bio-bg: rgba(0, 0, 0, 0.7);
}

html,
body {
  font-family: var(--primary-font-family);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-pink);
}

a,
a:visited {
  text-decoration: none;
}

.h1 {
  font-family: var(--secondary-font-family);
}

.button {
  padding: 15px 30px;
  border: 5px var(--absolute-white) solid;
  font-family: var(--primary-font-family);
  font-size: 32px;
  font-weight: 800;
  color: var(--absolute-white);
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.button:hover {
  background-color: var(--absolute-white);
  color: var(--grey);
}

.header {
  background-image: url(img/header__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--absolute-white);
}

.header__h1 {
  font-size: 128px;
  text-align: center;
}

.header__menu {
  position: absolute;
  top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu__toggle {
  display: none; /* Скрываем кнопку по умолчанию */
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.menu__icon {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--absolute-white);
  position: relative;
}

.menu__icon::before,
.menu__icon::after {
  content: '';
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--absolute-white);
  position: absolute;
  transition: transform 0.3s ease;
}

.menu__icon::before {
  transform: translateY(-8px);
}

.menu__icon::after {
  transform: translateY(8px);
}

.menu__ul {
  display: flex;
  gap: 70px;
}

.menu__li {
  list-style-type: none;
}

.menu__a {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--absolute-white);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7vh 0 5vh 0;
}

.music {
  gap: 60px;
}

h2 {
  font-family: var(--secondary-font-family);
  font-size: 96px;
  text-align: center;
}

.music__h2 {
  color: var(--brown);
}

.music__slider {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.music__wrapper {
  display: flex;
  gap: 20px;
}

.music__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.music__song {
  display: flex;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
}

.music__song-wrapper {
  position: relative;
}

.music__button-img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 48px;
  width: 48px;
  background-image: url(img/play-icon1.svg);
  background-size: cover;
}

.music__image {
  width: 400px;
  height: 400px;
  border-radius: 5px;
}

.music__title {
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--brown);
}

.music__button {
  border-color: var(--brown);
  color: var(--brown);
}

.music__button:hover {
  background-color: var(--brown);
  color: var(--light-pink);
}

.slider__button {
  width: 48px;
  height: 85px;
  border: none;
}

.video__button_prev,
.music__button_prev {
  background-image: url(img/slider__button_prev.svg);
}

.video__button_next,
.music__button_next {
  background-image: url(img/slider__button_next.svg);
}

.video__mobile-controll {
  display: none;
  gap: 30px;
}

.video__mobile {
  width: 91px;
  height: 42px;
}

.video__mobile_prev {
  background-image: url(img/mobile_arrow_prev.svg);
}

.video__mobile_next {
  background-image: url(img/mobile_arrow_next.svg);
}

.music__iframe {
  width: 400px;
  height: 400px;
  border-radius: 5px;
}

.bio {
  background-image: url(img/bio__background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-color: black;
  background-attachment: fixed;
  align-items: flex-start;
  padding: 20px;
}

.bio__info {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.bio__h2 {
  color: var(--absolute-white);
}

.bio__button {
  text-wrap: nowrap;
}

.video__h2 {
  color: var(--brown);
}

.video__slider {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}


.video__item {
  width: var(--video-width);
  height: var(--video-height);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.video__video {
  position: relative;

  border-radius: 5px;
}

.video__wrapper {
  display: flex;
  justify-content: center;
}

.video__image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
}

.video__iframe {
  border-radius: 5px;
}

.video__button {
  position: absolute;
  bottom: 10px;
  left: 2px;
  height: 48px;
  width: 48px;
  background-image: url(img/play-icon1.svg);
  background-size: cover;
}

.music__button-img:hover,
.video__button:hover {
  background-image: url(img/play-icon2.svg);
}

.video__title {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--absolute-white);
}

.video__title:hover {
  color: var(--light-pink);
}

.video__button_more {
  display: none;
}

.footer {
  height: 80px;
  font-size: 24px;
  background-color: var(--brown);
  color: var(--light-pink);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

i {
  color: var(--light-pink);
  font-size: 32px;
}

.links {
  display: flex;
  gap: 10px;
}

.footer__copy {
  text-align: right;
}

/* Адаптивность */

@media screen and (max-width: 1440px) {
  :root {
    --music-columns: 2;

    --video-height: 480px;
    --video-width: 854px;
  }

  .bio {
    background-image: url(img/bio__small.jpg);
    background-position: right;
    text-shadow: 
      -1px -1px 0 var(--grey),  
       1px -1px 0 var(--grey),
      -1px  1px 0 var(--grey),
       1px  1px 0 var(--grey); 
  }

  .bio__button {
    text-shadow: 
    -1px -1px 0 var(--grey),  
     1px -1px 0 var(--grey),
    -1px  1px 0 var(--grey),
     1px  1px 0 var(--grey);
  }

  .bio__button-wrapper {
    border: 1px solid var(--grey);
  }

  .header__h1 {
    font-size: 96px; 
  }

}
  

@media screen and (max-width: 1024px) {
  :root {
    --music-columns: 2;

    --video-height: 480px;
    --video-width: 854px;
  }

  .slider {
    gap: 15px;
  }

  .header__h1 {
    font-size: 80px;
  }

  .video__slider-button {
    display: none;
  }

  .video__mobile-controll {
    display: flex;
  }
}
  
  
@media screen and (max-width: 980px) {
  :root {
    --music-columns: 1;
  }

  .header__h1 {
    font-size: 64px;
  }

  .video__item {
    width: min(var(--video-width), calc(100% - 40px));
    height:min-content;
  }




}

@media screen and (max-width: 768px) {


  :root {
    --music-columns: 1;
    --video-height: 360px;
    --video-width: 640px;
  }

  .header {
    background-image: url(img/header__small.jpg);
  }

  .bio {
    background-image: url(img/bio__5xs.jpg);
    background-position: center;
    align-items: center;
  }

  .header__h1 {
    font-size: 48px; 
  }


  
  .menu__toggle {
    display: block;
  }

  .menu__ul {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      gap: 30px;
      top: 60px;
      left: 50%;
      background-color: var(--light-pink);
      transform: translate(-50%, 0%);
      padding: 10px 30px;
      border-radius: 30px;
  }

  .menu__ul--open {
      display: flex;
  }

  .menu__a {
    color: var(--brown);
  }

  /* .video__slider {
    margin-left: 30px;
    margin-right: 30px;
  } */
}

@media screen and (max-width: 480px) {
  /* .video__slider {
    margin-left: 20px;
    margin-right: 20px;
  } */

}
